<div class="album-card" (click)="goToAlbum()">
  <div class="album-cover">
    @if (album.images?.[0]?.url) {
    <img [src]="album.images?.[0]?.url" [alt]="album.name" />
    } @else {
    <lucide-icon [img]="DiscAlbumIcon" size="100" />
    }
  </div>

  <div class="album-content">
    <div class="album-info">
      <h6>{{ album.name }}</h6>

      <p class="release-date">{{ album.release_date | date }}</p>
    </div>

    <a
      (click)="$event.stopPropagation()"
      [href]="album.external_urls.spotify"
      target="_blank"
      rel="noopener"
    >
      Abrir no Spotify
    </a>
  </div>
</div>
