.top-bar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  background-color: var(--surface-color);
  z-index: 10;

  transition: transform 0.3s ease-in-out;

  &.hidden {
    transform: translateY(-100%);
  }
}
