li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid var(--border-color);

  & > div {
    flex: 1;
  }

  .track-index {
    width: 24px;
    text-align: right;
    margin-right: 8px;
    color: var(--secondary-text);
  }

  .track-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .track-actions {
      display: flex;
      align-items: center;
      gap: 16px;

      .duration {
        font-size: 0.875rem;
        color: var(--secondary-text);
      }

      .spotify-btn {
        border: none;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px 8px 4px 4px;
        border-radius: 18px;
        font-weight: 600;
        background-color: #1db954;
        color: #fff;

        transition: background-color 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: #1aa34a;
        }
      }
    }
  }

  .track-artists {
    margin-top: 8px;
    display: flex;
    gap: 0.5rem;

    span {
      color: var(--secondary-text);
      font-size: 0.875rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 600px) {
    padding: 12px 8px;

    .track-info {
      display: grid;
      grid-template-columns: auto auto;

      & > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .track-actions {
        gap: 8px;

        .spotify-btn {
          padding: 8px;

          span {
            display: none;
          }
        }
      }
    }
  }
}
