.home-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 16px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 104px);
}

.results-container {
  h6 {
    margin-top: 48px;
    text-align: center;
    color: var(--secondary-text);
  }

  h3 {
    @media screen and (max-width: 600px) {
      font-size: 1.25rem;
    }
  }

  .album-card-grid {
    margin-top: 8px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .artist-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 16px;
  }
}
