.home-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 16px;
}

.results-container {
  h6 {
    margin-top: 48px;
    text-align: center;
    color: var(--secondary-text);
  }
}
