<div class="search-container">
  <div class="search-bar">
    <lucide-icon [img]="SearchIcon" size="20" />

    <input
      #search
      class="search-input"
      [value]="searchValue()"
      (input)="searchValue.set(search.value)"
      type="text"
      placeholder="Procure por um artista..."
      (keydown.enter)="onSearch()"
    />

    @if (showClearButton()) {
    <button class="icon-button" (click)="onSearch('')">
      <lucide-icon [img]="XIcon" />
    </button>
    }
  </div>

  <button class="surface-button" (click)="onSearch()">Buscar</button>
</div>
