* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.6;
}

h6 {
  font-size: 1rem;
  line-height: 1.6;
}

:root {
  --primary-color: #f44336;
  --primary-dark-color: #b6332a;
  --secondary-color: #673ab7;
  --background-color: #fff;
  --surface-color: #ececec;
  --foreground-color: #333;
  --secondary-text: #666;
  --btn-hover-color: #0002;
  --border-color: #bbbbbb;
}

.dark {
  --background-color: #121212;
  --surface-color: #252525;
  --foreground-color: #fff;
  --btn-hover-color: #fff2;
  --border-color: #555;
}

lucide-icon {
  color: var(--foreground-color);
}

input,
button {
  color: var(--foreground-color);
}

.icon-button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
  }

  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}

hr {
  border-color: var(--border-color);
}

.primary-button {
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 8px 24px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--primary-dark-color);
  }

  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}

.surface-button {
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 8px 24px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--surface-color);
  color: var(--foreground-color);

  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
  }

  &:disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}
